*.iml

.idea
.vscode
.local
.cache

*.pyc
*.log
.DS_Store

build/
devel/
logs/
cmake-build-debug/
install/
install_release/


__pycache__
log/*
!log/.gitkeep
compile_commands.json

install/
logs/
devel/
.catkin_tools/

# map static file
static/map/*
!static/map/.gitkeep
